<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amazon aws s3 file handler</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        .lnd{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height:100vh;
            width:100vw;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .cont{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="lnd">
        <%-include("../partials/upload") %>
        <div style="height:5vh;"></div>
        <%-include("../partials/deldown") %>
    </div>
</body>
</html>