<div>
    <% if (list.length > 0) { %>
        <% list.forEach(function(item) { %>
            <div class="cont">
                <h6><%= item %></h6>
                <div>
                    <button onclick="window.open('./download/<%=item%>','_self')">download</button>
                    <button onclick="window.open('./delete/<%=item%>','_self')">delete</button>
                </div>
            </div>
            <br>
        <% }); %>
    <% } else { %>
        <h6>No items found</h6>
    <% } %>
</div>